//logo font
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Staatliches&display=swap");
// body font
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {scroll-behavior: smooth;}
body {
  color: $font;
  font-family: "Poppins", sans-serif;
  background: url('https://res.cloudinary.com/andreyt/image/upload/q_auto/v1661823734/Portfolio-assets/luces-triangulares-neon-3471_wjez4g.webp');
  background-size: cover;
}
ul {list-style: none;}
a,
li,
button {display: inline-block;}
a {
  text-decoration: none;
  color: $font;
  &:hover {color: white;}
}
button {
  border: none;
  cursor: pointer;
}

.socials {
  font-size: 1.9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 1;
}