.primary-btn {
  border-radius: 25px;
  border: 1px solid #c4c4c4;
  background: none;
  color: #fff;
  padding: 0.8rem 1rem;
  width: 150px;
  margin: 0 auto;
  &:hover {
    background: #160f22;
    outline: 1.2px solid #eaf5ff;
  }

  &:focus {
    outline: 1.2px solid #eaf5ff;
  }
}
