.hero {
  font-family: "Staatliches", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  white-space: nowrap;
  height: 100vh;

  background: url("https://res.cloudinary.com/andreyt/image/upload/fl_lossy/c_scale,q_auto,w_471/v1661845299/Portfolio-assets/065e2c34e99b072752477a6b58415b60_baf7tk.gif");
  background-position: center;
  background-size: cover;

  overflow: hidden;
  .blur-bg {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #101225ab, #101625ab, #0a0713);
    backdrop-filter: blur(8px);
    z-index: 0;
  }

  h1 {
    font-size: 1.3rem;
    z-index: 2;
    color: $font;
  }
  span {
    font-weight: 300;
  }

  @media screen and (min-width: 436px) {
    h1 {
      font-size: 1.85rem;
    }
  }
  @media #{$sm} {
    h1 {
      font-size: 2.5rem;
    }
  }
  @media #{$md} {
    h1 {
      font-size: 3rem;
    }
  }

  .avatar {
    z-index: 1;
    img {
      width: 125px;
      pointer-events: none;
    }
  }

  .bolder {
    font-weight: 600;
    color: #170b1d;
    background: -webkit-linear-gradient(2deg, #477cb850, #477cb8da, #60aaffa9);
    padding: 0.3rem 0.9rem;
    border-radius: 12px 0 12px 0;
    font-size: 140%;
  }
  .arrows-down {
    position: absolute;
    bottom: 12%;
    font-size: 2.5rem;
    cursor: pointer;
    animation: pulse 1s infinite;
    @media #{$sm} {
      bottom: 2%;
    }
  }
  @keyframes pulse {
    0% {
      transform: translateY(2%);
    }

    50% {
      transform: translateY(10%);
    }

    100% {
      transform: translateY(2%);
    }
  }
}
